include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
recursive-include hv_switching_board *
prune *.pyc
include versioneer.py
include base_node_rpc_freertos/_version.py
